body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.playArea {
    touch-action: none;
    background: #4FA7FF;
    color: lightGreen;
    /*border: solid green;*/
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}
